Flask==0.12
Jinja2==2.9.4
Flask-SQLAlchemy
MarkupSafe==0.23
Werkzeug==0.11.15
click==6.7
gunicorn==19.6.0
itsdangerous==0.24
wsgiref==0.1.2
Flask-WTF
Flask-Migrate
Flask-Login
Flask-Script
psycopg2
WTForms==2.1
psycopg2-binary
Pipfile





